{
  "extends": ["oclif", "oclif-typescript", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-console": "off",
    "arrow-parens": [2, "as-needed"],
    "prettier/prettier": 2,
    "@typescript-eslint/ban-ts-comment": "off"
  }
}
